html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Open Sans', sans-serif;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oleo Script', cursive;
	font-weight:100;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- to-top --*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 2%;
  overflow: hidden;
  z-index: 999; 
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url(../../images/top_arrow.png) no-repeat 0px 0px;
}
#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- banner --*/
.header ul li a,.more a,.footer p a,input[type="submit"],.recent-comments-grid-right h4 a,.admin-right p a,.tags ul li a,.comments-list ul li a,.categories ul li a,.comments-list h3 a,.popular-right h5 a,.mail-grid-left-pos,.mail-grid-left,.team-grid1-sub,.footer-copy-grid ul li a,.about-grid-left1 ul li a,.about-grid ul li a{
  transition:.5s ease-in-out;
  -webkit-transition:.5s ease-in-out;
  -moz-transition:.5s ease-in-out;
  -o-transition:.5s ease-in-out;
  -ms-transition:.5s ease-in-out;
}
.banner{
  background:url(../../images/banner1.png) no-repeat 0px 0px;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  min-height:800px;
}
.header{
  padding:5em 0 15em;
    text-align: center;
}
.header-left ul li{
  display:inline-block;
  margin-right:5em;
  font-size:14px;
  color:#fff;
}
.header-left ul li span{
  left:-.5em;
  color:#F3AD45;
}
.header-left ul li a{
  color:#fff;
  text-decoration:none;
}
.header-left ul li a:hover{
  color:#F3AD45;
}
.header-left{
  float: left;
  padding:.7em 0 0 17em;
}
.header-right{
  float: right;
}
.logo {
    text-align: center;
}
.logo h1 a{
  font-size:3em;
  text-decoration:none;
  text-align:center;
  color:#fff;
}
.logo h1 a span{
  display: block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #E9E9E9;
}
.container.banner-drop.nav-open{
  margin-top: 8em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*
  menu icon css3
*/
.menu-icon {
  position: relative;
  display: block;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}
.menu-icon:hover span {
  background:#F3AD45;
}
.menu-icon:hover span:before, .menu-icon:hover span:after {
  background:#F3AD45;
}

.menu-icon > span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color:#FFFFFF;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
  -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  right: 0em;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#FFFFFF;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
  -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before {
  -webkit-transform: translateY(-0.75em);
  transform: translateY(-0.75em);
  -moz-transform: translateY(-0.75em);
  -o-transform: translateY(-0.75em);
  -ms-transform: translateY(-0.75em);
}

.menu-icon > span:after {
  -webkit-transform: translateY(0.75em);
  transform: translateY(0.75em);
  -moz-transform: translateY(0.75em);
  -o-transform: translateY(0.75em);
  -ms-transform: translateY(0.75em);
}

/* OPENED */
.menu-icon.open {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.menu-icon.open > span:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.menu-icon.open > span:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.header-right nav {
  position: absolute;
    top: -23%;
    left: 24%;
    color: #999;
    z-index: -1;
}
.header-right nav ul li.animate {
  top: 0;
}
.header-right nav ul li {
  display: inline-block;
  text-align: center;
  margin: 1em 2em;
  cursor: pointer;
  position: relative;
  top: -8em;
}
.header-right nav ul li:nth-child(1) {
  -moz-transition: top 0.3s ease 0.15s;
  -o-transition: top 0.3s ease 0.15s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.15s;
  -webkit-transition: top 0.3s ease 0.15s;
  transition: top 0.3s ease 0.15s;
}
.header-right nav ul li:nth-child(2) {
  -moz-transition: top 0.3s ease 0.2s;
  -o-transition: top 0.3s ease 0.2s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.2s;
  -webkit-transition: top 0.3s ease 0.2s;
  transition: top 0.3s ease 0.2s;
}
.header-right nav ul li:nth-child(3) {
  -moz-transition: top 0.3s ease 0.25s;
  -o-transition: top 0.3s ease 0.25s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.25s;
  -webkit-transition: top 0.3s ease 0.25s;
  transition: top 0.3s ease 0.25s;
}
.header-right nav ul li:nth-child(4) {
  -moz-transition: top 0.3s ease 0.3s;
  -o-transition: top 0.3s ease 0.3s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.3s;
  -webkit-transition: top 0.3s ease 0.3s;
  transition: top 0.3s ease 0.3s;
}
.header-right nav ul li:nth-child(5) {
  -moz-transition: top 0.3s ease 0.35s;
  -o-transition: top 0.3s ease 0.35s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.35s;
  -webkit-transition: top 0.3s ease 0.35s;
  transition: top 0.3s ease 0.35s;
}
.header-right nav ul li:hover {
  opacity: 1;
}
.header-right nav ul li i {
  font-size: 1.5em;
  background:#F3AD45;
  padding: 0.75em;
  border-radius: 50%;
  color: white;
  display: inline-block;
  overflow: hidden;
  text-shadow: 0px 0px #D5963A, 1px 1px #D5963A, 2px 2px #D5963A, 3px 3px #D5963A, 4px 4px #D5963A, 5px 5px #D5963A, 6px 6px #D5963A, 7px 7px #D5963A, 8px 8px #D5963A, 9px 9px #D5963A, 10px 10px #D5963A, 11px 11px #D5963A, 12px 12px #D5963A, 13px 13px #D5963A, 14px 14px #D5963A, 15px 15px #D5963A, 16px 16px #D5963A, 17px 17px #D5963A, 18px 18px #D5963A, 19px 19px #D5963A, 20px 20px #D5963A, 21px 21px #D5963A, 22px 22px #D5963A, 23px 23px #D5963A, 24px 24px #D5963A, 25px 25px #D5963A, 26px 26px #D5963A, 27px 27px #D5963A, 28px 28px #D5963A, 29px 29px #D5963A, 30px 30px #D5963A, 31px 31px #D5963A, 32px 32px #D5963A, 33px 33px #D5963A, 34px 34px #D5963A, 35px 35px #D5963A, 36px 36px #D5963A, 37px 37px #D5963A, 38px 38px #D5963A, 39px 39px #D5963A, 40px 40px #D5963A, 41px 41px #D5963A, 42px 42px #D5963A, 43px 43px #D5963A, 44px 44px #D5963A, 45px 45px #D5963A, 46px 46px #D5963A, 47px 47px #D5963A, 48px 48px #D5963A, 49px 49px #D5963A, 50px 50px #D5963A, 51px 51px #D5963A, 52px 52px #D5963A, 53px 53px #D5963A, 54px 54px #D5963A, 55px 55px #D5963A, 56px 56px #D5963A, 57px 57px #D5963A, 58px 58px #D5963A, 59px 59px #D5963A, 60px 60px #D5963A;
}
.header-right nav ul li.active i {
  background:#454445;
  text-shadow: 0px 0px #525252, 1px 1px #525252, 2px 2px #525252, 3px 3px #525252, 4px 4px #525252, 5px 5px #525252, 6px 6px #525252, 7px 7px #525252, 8px 8px #525252, 9px 9px #525252, 10px 10px #525252, 11px 11px #525252, 12px 12px #525252, 13px 13px #525252, 14px 14px #525252, 15px 15px #525252, 16px 16px #525252, 17px 17px #525252, 18px 18px #525252, 19px 19px #525252, 20px 20px #525252, 21px 21px #525252, 22px 22px #525252, 23px 23px #525252, 24px 24px #525252, 25px 25px #525252, 26px 26px #525252, 27px 27px #525252, 28px 28px #525252, 29px 29px #525252, 30px 30px #525252, 31px 31px #525252, 32px 32px #525252, 33px 33px #525252, 34px 34px #525252, 35px 35px #525252, 36px 36px #525252, 37px 37px #525252, 38px 38px #525252, 39px 39px #525252, 40px 40px #525252, 41px 41px #525252, 42px 42px #525252, 43px 43px #525252, 44px 44px #525252, 45px 45px #525252, 46px 46px #525252, 47px 47px #525252, 48px 48px #525252, 49px 49px #525252, 50px 50px #525252, 51px 51px #525252, 52px 52px #525252, 53px 53px #525252, 54px 54px #525252, 55px 55px #525252, 56px 56px #525252, 57px 57px #525252, 58px 58px #525252, 59px 59px #525252, 60px 60px #525252;
}
.header-right nav ul li.active a{
  color:#F3AD45;
}
.header-right nav ul li a{
    color: #454445;
    font-family: 'Oleo Script', cursive;
  text-decoration: none;
}
.header-right nav ul li a span{
    display: block;
  font-size: 1.2em;
}
.container {
    margin: 0 auto;
    -moz-transition: all 0.3s ease 0.6s;
    -o-transition: all 0.3s ease 0.6s;
    -webkit-transition: all 0.3s ease;
    -webkit-transition-delay: 0.6s;
    -webkit-transition: all 0.3s ease 0.6s;
    transition: all 0.3s ease 0.6s;
    z-index: 10;
    position: relative;
  -o-transition-delay: 0.1s;
  -moz-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
}
.container.nav-open .header-right nav {
    z-index: 1;
}
.social-icons {
    padding: 1em 0 0;
    text-align: center;
}
.social-icons ul li{
  display:inline-block;
  padding: 0 !important;
    margin: 5px !important;
}
.social-icons ul li a{
  width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 100%;
}
.social-icons ul li a,.services-grid h5 a,.footer-copy p a,.footer-grid ul li a,.contact-left2 ul li a,.mail input[type="submit"]{
  transition:.5s ease-in-out;
  -webkit-transition:.5s ease-in-out;
  -moz-transition:.5s ease-in-out;
  -o-transition:.5s ease-in-out;
  -ms-transition:.5s ease-in-out;
}
.social-icons ul li a.twitter:hover{
  background: url(../../images/img-sp.png) no-repeat 1px -46px #F3AD45;
    border:2px solid #F3AD45;
}
.social-icons ul li a.twitter{
  background:url(../../images/img-sp.png) no-repeat 1px -46px;
  display:block;
}
.social-icons ul li a.facebook{
  background:url(../../images/img-sp.png) no-repeat -49px -47px;
  display:block;
}
.social-icons ul li a.facebook:hover{
  background:url(../../images/img-sp.png) no-repeat -49px -47px #F3AD45;
  border:2px solid #F3AD45;
}
.social-icons ul li a.google{
  background:url(../../images/img-sp.png) no-repeat -96px -46px;
  display:block;
}
.social-icons ul li a.google:hover{
  background:url(../../images/img-sp.png) no-repeat -96px -46px #F3AD45;
  border:2px solid #F3AD45;
}
.social-icons ul li a.p{
  background:url(../../images/img-sp.png) no-repeat -143px -46px;
  display:block;
}
.social-icons ul li a.p:hover{
  background:url(../../images/img-sp.png) no-repeat -143px -46px #F3AD45;
  border:2px solid #F3AD45;
}
/*-- //banner --*/
/*-- about --*/
.header1 {
  padding:2em 0 8em !important;
}
.header-right1 nav {
    top: -31% !important;
}
.about,.team,.typo,.mail,.blog{
  padding:5em 0;
}
.about-grid-left{
  border:1px solid #DEDEDE;
  padding:1em;
}
.about-grid-left1{
  padding:1.5em;
  border:1px solid #DEDEDE;
}
.about-grid-left1 h2{
  font-size: 1.5em;
    color: #454445;
    margin: 0;
    line-height: 1.5em;
    text-transform: capitalize;
}
.about-grid-left1 h2 span{
  color:#F3AD45;
}
.about-grid-left1 p{
  padding:1.5em 0 0;
  margin:1.5em 0 1em;
  border-top:1px solid #DEDEDE;
  font-size:14px;
  color:#999;
  line-height:1.8em;
}
.about-grid-left1 h4{
  font-size:1.2em;
  color:#F3AD45;
  margin:0;
  line-height:1.5em;
}
.about-grid-left1 ul{
  padding:1em 0 2em;
}
.about-grid ul{
  padding:1em 0 0;
}
.about-grid-left1 ul li,.about-grid ul li{
  padding-left: 2em;
    margin-bottom: 1em;
    background: url(../../images/img-sp.png) no-repeat -15px -204px;
    list-style-type: none;
}
.about-grid-left1 ul li a,.about-grid ul li a{
  color:#999;
  font-size:14px;
  text-decoration:none;
  text-transform: capitalize;
}
.about-grid-left1 ul li a:hover,.about-grid ul li a:hover{
  color: #454445;
}
.about-grid h3,.team h3,h2.title,.mail h2,.map-grid h3,.recent-comments h3,.leave-comment h3{
  font-size:2em;
  color:#F3AD45;
  margin:0;
}
.about-grid h3{
  margin:0 0 1em !important;
}
.about-grid p{
  margin:1em 0 0;
  color:#999;
  line-height:1.8em;
  font-size:14px;
}
.about-grid p span{
  display:block;
  margin:1em 0 0;
}
.about-grid h3 span,.team h3 span,.mail h2 span,.map-grid h3 span,.recent-comments h3 span,.leave-comment h3 span{
  color: #454445;
}
.team-grids{
  margin:3em 0 0;
}
.team-grid1-sub{
  padding:1em;
  background:#F3AD45;
}
.team-grid:hover .team-grid1-sub{
  background:#454445;
}
.team-grid:hover .team-grid1-sub h4{
  color:#fff;
}
.team-grid1-sub h4{
  text-transform:capitalize;
  font-size:1.3em;
  margin:0;
  line-height:1.5em;
  color: #454445;
}
.team-grid1-sub p{
  margin:1em 0 0em;
  color:#FFF;
  line-height:1.8em;
  font-size:14px;
}
.social-icons1{
  text-align:left;
}
.column div {
  position: relative;
    float: none;
}
.column div,figure {
  width: 350px;
    height: 200px;
}
figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure img{
  width:100%;
}
figure:hover+span {
  bottom: -36px;
  opacity: 1;
}
.comments-list.hover14.column div,.comments-list figure {
    width: 100%;
    height: 100%;
}
/* Shine */
.hover14 figure {
  position: relative;
}
.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.team-grid:hover .hover14 figure::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
.hover14:hover figure::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
  -moz-animation: shine .75s;
  -o-animation: shine .75s;
  -ms-animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/*-- //about --*/
/*-- services --*/
.services,.about-bottom{
  padding:10em 0 5em;
  background:#131313;
  position:relative;
}
.services:before,.about-bottom:before{
  background: url(../../images/5.jpg) no-repeat 0px 0px;
    display: block;
    width: 100%;
    height: 185px;
    position: absolute;
    top: 0%;
    left: 0%;
    content: '';
}
.services h3,.about-bottom h3,.subscribe h3,.mail-left h3,.mail-right h3,h3.title{
  font-size:2.5em;
  color:#fff;
  padding-bottom:.5em;
  letter-spacing:5px;
  position:relative;
  margin:0;
}
.services h3:after,.about-bottom h3:after,.subscribe h3:after,h3.title:after,.mail-left h3:after,.mail-right h3:after{
  position: absolute;
    bottom: 0%;
    left: 0%;
    background:#44A790;
    width: 45%;
    height: 2px;
    content: '';
}
.services-grids,.about-bottom-grids {
    margin: 5em 0 0;
}
.services-grid1 {
    padding: .5em;
    border: 4px double #4E5061;
  position:relative;
}
.services-grid1-pos{
  position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 1.5em 1em;
    width:30%;
    border-radius: 100%;
    background:rgba(68, 167, 144, 0.69);
}
.services-grid1-pos h5{
  font-size:1.5em;
  color:#fff;
  margin:0;
}
.services-grid1-pos h5 span{
  display:block;
}
.services-grid1-bottom{
  padding:2em 2em 1em;
  background:#fff;
}
.services-grid1-bottom h4 a,.primary-right-grid h4 a{
  color: #1F2027;
    text-transform: capitalize;
    font-size:1.16em;
  text-decoration:none;
}
.services-grid1-bottom h4 a:hover,.primary-right-grid h4 a:hover{
  color:#44A790;
}
.services-grid1-bottom ul{
  padding:2em 0 0;
}
.services-grid1-bottom ul li{
  list-style-type: none;
    font-size: 1em;
    color: #999;
  text-transform: uppercase;
    margin-bottom: 1em;
  padding-left:3em;
}
.services-grid1-bottom ul li{
  background: url(../../images/img-sp.png) no-repeat -8px -155px;
    height: 38px;
}
.services-grid1-bottom ul li.ser-1{
  background: url(../../images/img-sp.png) no-repeat -8px -229px;
    height: 38px;
}
.services-grid1-bottom ul li.ser-2{
  background: url(../../images/img-sp.png) no-repeat -8px -284px;
    height: 38px;
}
.services-grid1-bottom ul li span{
  font-size: 1em;
    background: #f5f5f5;
    padding: .5em;
    border-radius: 55%;
  color:#1F2027;
  margin-left:5em;
}
.services-grid1-bottom ul li i {
    font-style: normal;
    padding-top: 0.5em;
    display: block;
    padding-left: 3em;
}
.address{
  padding:1em 2em;
  background:#fff;
  border-top:1px solid #999;
}
.address h4{
  font-size:1em;
  color:#999;
  margin:0;
  padding-left:1em;
}
.address h4 span{
  left:-.7em;
  color:#44A790;
}
/*-- //services --*/
/*--contact--*/
.contact{
  background: #131313;
}
.contact-left iframe {
    width: 100%;
    min-height: 32.5em;
    border: none;
}
.contact-form h5 {
    font-size: 2em;
    color: #333;
}
.welcome.contact h4 {
    margin: 0 0 .5em;
}
.address-left {
    float: left;
    width: 45%;
  position: relative;
}
.address-right {
    float: right;
    width: 46%;
}
.address-left:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #ccc;
    position: absolute;
    top: 0;
    right: -17px;
}
.contact p a {
    color: #04B7B7;
}
.contact p a:hover{
    color: #999;
}
.info {
    margin-top: 3em;
}
.info ul {
    padding: 0;
    list-style: none;
}
.faq li {
    margin-top: 0.5em;
}
.faq li:nth-child(1) {
    margin: 0;
}
.faq li a {
    padding: 0.5em 1em;
    width: 85%;
    display: block;
    position: relative;
    color: #999;
    font-size: 1.1em;
    text-decoration: none;
    border: 1px solid #ccc;
}
.faq li a:hover,.faq li a.active{
  color: #fff;
  background:#21b2a6;
}
.faq span.glyphicon {
    margin-right: .5em;
    vertical-align: middle;
    font-size: 1em;
}
.faq li a.active span.glyphicon {
  -webkit-transform: rotatex(180deg);
  transform: rotatex(180deg);
  -moz-transform: rotatex(180deg);
  -o-transform: rotatex(180deg);
  -ms-transform: rotatex(180deg);
}
.faq li ul {
    width: 85%;
    border: 1px solid #DEDEDE;
    padding: 10px 20px;
    margin-top: .5em;
}
.faq li ul li p {
    font-size: 1em;
}
/*--//faq--*/
.contact-form {
    background: url(../../images/slid.jpeg)no-repeat 0px 0px fixed;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    padding: 6em 15em;
    text-align: center;
    margin-top: 6em;
}
.contact-form h3.title {
    margin-bottom: 0.1em;
}
.contact-form p {
    color: #fff;
    margin-bottom: 4em;
}
.contact-form input[type="text"] {
    width: 100%;
    color: #fff;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin: .5em 0;
    border: solid 1px #fff;
    -webkit-appearance: none;
    display: inline-block;
}
.contact-form textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 1px #fff;
    min-height: 12em;
    -webkit-appearance: none;
    margin-top: .5em;
}
.contact-form input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    padding: 0.8em 6em;
    font-size: 1.1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #21b2a6;
    transition: 0.5s all;
    border: 2px solid #21b2a6;
    -webkit-transition: 0.5s all;
  transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.contact-form input[type="submit"]:hover {
    background: none;
    color: #21b2a6;
}
::-webkit-input-placeholder{
  color:#fff !important;
}
/*--//contact--*/
/*-- footer --*/
.footer{
  padding:1.5em 0;
  background:#000;
  text-align:center;
}
.footer p{
  font-size:14px;
  color:#f5f5f5;
  margin:0;
  line-height:1.8em;
}
.footer p a{
  color:#F3AD45;
  text-decoration:none;
}
.footer p a:hover{
  color:#fff;
}
.footer-copy{
  padding:2em 0;
  background:#131313;
}
.footer-copy-grid h3{
  font-size:2em;
  color:#fff;
  margin:0 0 1em;
}
.footer-copy-grid h3 span{
  color:#F3AD45;
}
.footer-copy-grid p{
  color:#999;
  margin:1em 0 0;
  line-height:1.8em;
  font-size:14px;
}
.footer-copy-grid1 {
    padding:0 .4em .4em;
}
.footer-copy-grid input[type="text"],.footer-copy-grid input[type="email"],.footer-copy-grid textarea{
  outline: none;
    border: 1px solid #3B3B3B;
    padding: 7px 10px;
    background: #000;
    color: #999;
    font-size: 14px;
    width: 100%;
}
.footer-copy-grid input[type="email"]{
  margin:.5em 0;
}
.footer-copy-grid textarea{
  min-height:100px;
  resize:none;
}
.footer-copy-grid input[type="submit"]{
  outline:none;
  border:none;
  padding:7px 0;
  background:#454445;
  color:#fff;
  font-size:14px;
  width:50%;
  margin:.2em 0 0;
}
.footer-copy-grid input[type="submit"]:hover{
  background:#F3AD45;
}
.footer-copy-grid ul li{
  padding-left: 2em;
    margin-bottom: 1em;
    background: url(../../images/img-sp.png) no-repeat -15px -163px;
    list-style-type: none;
}
.footer-copy-grid ul li a{
  font-size:14px;
  color:#999;
  text-decoration:none;
}
.footer-copy-grid ul li a:hover{
  color:#fff;
}
/*-- //footer --*/

/*-----start-responsive-design-banner------*/
@media (max-width:1680px){
  .banner-bottom-grid-sub1 {
    width: 77%;
  }
}
@media (max-width:1600px){
  .banner-bottom-grid-sub1 {
    width: 81%;
  }
}
@media (max-width:1440px){
  .banner {
    min-height: 715px;
  }
  .banner-bottom-grid-sub1 {
    width: 89.5%;
  }
  .banner-bottom-grid-left1 p {
    width: 95%;
  }
  .banner-bottom-grid-left {
    padding: 4em 0 0 12em;
  }
}
@media (max-width:1366px){
  .banner-bottom-grid1-pos h3 {
    font-size: 2.2em;
  }
  .banner-bottom-grid1 {
    bottom: -37%;
  }
  .banner-bottom-grid-left {
    padding: 4em 0 0 8em;
  }
  .banner-bottom-grid-sub1 {
    width: 94.5%;
    top: 1%;
  }
}
@media (max-width:1280px){
  .header {
    padding: 3em 0 10em;
  }
  .banner {
    min-height: 610px;
  }
  .header-right nav {
    top: -28%;
  }
  .banner-bottom-grid-left {
    padding: 3em 0 0 5em;
  }
  .banner-bottom-grid-sub1 {
    width: 100%;
    top: 0%;
  }
  .banner-bottom-grid-left1 p:before {
    left: 2%;
  }
}
@media (max-width:1080px){
  .header-left {
    padding: .7em 0 0 10em;
  }
  .logo h1 a {
    font-size: 2.5em;
  }
  .header-right nav {
    left: 18%;
  }
  .banner-bottom-grid-left h2 {
    font-size: 2em;
  }
  .banner-bottom-grid1-pos h3 {
    font-size: 1.8em;
  }
  .banner-bottom-grid-left {
    padding:2em 0 0 3em;
  }
  .banner-bottom-grid-left p {
    margin: 1em 0 2em;
    width: 76%;
  }
  .banner-bottom-grid-left1 p {
    font-size: 1.6em;
  }
  .banner-bottom-grid1-pos, .banner-bottom-grid-sub-pos {
    padding: 1.5em;
  }

  .banner-bottom-grid-sub-pos h3 {
    font-size: 2.1em;
  }
  .banner-bottom-grid-left1 {
    padding: 11em 0 0;
  }
  .header1 {
    padding: 2em 0 5em !important;
  }
  .banner1 {
    min-height: 390px;
  }
  .header-right1 nav {
    top: -36% !important;
  }
}
@media (max-width: 1024px){
  .banner-bottom-grid-sub-pos h3 {
    font-size: 2em;
  }
}
@media (max-width:991px){
  .header-left {
    padding: .7em 0 0 1em;
  }
  .header-left ul li {
    margin-right: 4em;
  }
  .header-right nav {
    left: 8%;
  }
  .banner-bottom-grid img {
    width: auto;
    margin: 0 auto;
  }
  .banner-bottom-grid-left {
    padding: 2em 0 3em 13em;
  }
  .banner-bottom-grid1 {
    left: 35%;
    width: 60%;
  }
  .banner-bottom-grid-sub {
    width: 43%;
    margin: 13em auto 0;
  }
  .banner-bottom-grid-sub-pos h3 {
    font-size: 2.5em;
  }
  .banner-bottom-grid1-pos, .banner-bottom-grid-sub-pos {
    padding: 1.8em;
  }
  .banner-bottom-grid-left1 {
    padding: 3em 0;
    width: 70%;
    margin: 0 auto;
  }
  .banner-bottom-grid-left1 p:before {
    left: -1%;
  }
}
@media (max-width:800px){
  .banner-bottom-grid-left {
    padding: 2em 0 3em 5em;
  }
  .banner-bottom-grid-left p {
    width: 80%;
  }
  .logo h1 a {
    font-size: 2.2em;
  }
  .banner {
    min-height: 500px;
  }
  .banner-bottom-grid-sub {
    width: 54%;
  }
  .banner-bottom-grid1-pos, .banner-bottom-grid-sub-pos {
    padding: 2em;
  }
  .banner-bottom-grid-left1 {
    width: 82%;
  }
  .banner-bottom-grid-left1 p {
    width: 100%;
  }
  .banner-bottom-grid-left1 p:before {
    left: 0%;
  }
  .header-right nav {
    left: 5%;
    top: -30%;
  }
  .header-right1 nav {
    top: -38% !important;
  }
}
@media (max-width:768px){
  .logo h1 a {
    font-size: 2em;
  }
  .header-right nav ul li a span {
    font-size: 1em;
  }
  .banner-bottom-grid-left {
    padding: 2em 0 3em 3em;
  }
  .banner-bottom-grid-sub {
    width: 57%;
  }
  .banner-bottom-grid-left1 {
    width: 90%;
  }
}
@media (max-width:736px){
  .header-left ul li {
    margin-right: 2em;
  }
  .header {
    padding: 3em 0 6em;
  }
  .banner {
    min-height: 420px;
  }
}
@media (max-width:640px){
  .header-left ul li {
    margin-right: 1em;
  }
  .logo h1 a {
    font-size: 1.6em;
  }
  .logo h1 a span {
    font-size: 11px;
  }
  .header {
    padding: 2em 0 4em;
  }
  .social-icons ul li {
    margin: 2px !important;
  }
  .banner {
    min-height: 355px;
  }
  .header-right nav ul li {
    margin: 1em 1em;
  }
  .header-right nav {
    left: 11%;
    top: -44%;
  }
  .banner-bottom-grid-left h2,.footer-copy-grid h3,.comments-list h3,.about-grid h3, .team h3, h2.title, .mail h2, .map-grid h3, .recent-comments h3, .leave-comment h3{
    font-size: 1.7em;
  }
  .banner-bottom-grid-left {
    padding: 2em 0 3em 2em;
  }
  .banner-bottom-grid1 {
    left: 20%;
    width: 75%;
    bottom: -12%;
  }
  .banner-bottom-grid-sub {
    width: 69%;
    margin: 6em auto 0;
  }
  .banner-bottom-grid-sub1 {
    width: 99.5%;
  }
  .banner1 {
    min-height: 340px;
  }
  .header-right1 nav {
    top: -41% !important;
  }
}
@media (max-width:600px){
  .header-left ul li {
    font-size: 13px;
  }
  .header-right nav {
    left: 10%;
  }
}
@media (max-width:568px){
  .header-left {
    padding: 0;
    float: none;
    text-align: center;
  }
  .header-right {
    float: none;
    padding: 1em 0 0;
  }
  .menu-icon {
    margin: 0 auto;
  }
  .header-right nav ul li {
    margin: 0em 1em;
  }
  .header-right nav {
    left: 6%;
    top: -29%;
  }
  .container.banner-drop.nav-open {
    margin-top: 6em;
  }
  .header-right1 nav {
    top: -28% !important;
    left: 5%;
  }
}
@media (max-width:480px){
  .header-left ul li {
    margin-right: 1.5em;
    margin-bottom: 1em;
    font-size: 14px;
  }
  .menu-icon {
    width: 2em;
    height: 2em;
  }
  .menu-icon > span {
    height: 0.15em;
  }
  .header-right nav ul li {
    margin: 0em 0.5em;
  }
  .header-right nav ul li i {
    font-size: 1em;
  }
  .header-right nav {
    left: 13%;
    top: -24%;
  }
  .logo h1 a {
    font-size: 1.2em;
  }
  .header {
    padding: 1em 0 4em;
  }
  .banner-bottom-grid1-pos h3 {
    font-size: 1.5em;
  }
  .banner-bottom-grid1-pos, .banner-bottom-grid-sub-pos {
    padding: 1em;
  }
  .banner-bottom-grid-sub {
    width: 84%;
    margin: 5em auto 0;
  }
  .banner-bottom-grid-sub-pos h3 {
    line-height: 1.58em;
  }
  .banner-bottom-grid-left1 p {
    font-size: 1.4em;
  }
  .header1 {
    padding: 1em 0 2em !important;
  }
}
@media (max-width: 414px){
  .header-right nav {
    left: 8%;
  }
  .banner-bottom-grid-left {
    padding: 2em 0 2em 1em;
  }
  .banner-bottom-grid-left h2, .footer-copy-grid h3, .comments-list h3, .about-grid h3, .team h3, h2.title, .mail h2, .map-grid h3, .recent-comments h3, .leave-comment h3 {
    font-size: 1.5em;
  }
  .banner-bottom-grid-left p {
    width: 96%;
    margin: 0.5em 0 2em;
  }
  .banner-bottom-grid1-pos h3 {
    font-size: 1.2em;
  }
  .banner-bottom-grid-sub-pos h3 {
    font-size: 2.09em;
  }
  .banner-bottom-grid-left1 {
    padding: 2em 0;
  }
  .banner1 {
    background: url(../../images/banner.jpg) no-repeat -100px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 310px;
  }
}
@media (max-width:384px){
  .header-right nav {
    left: 0;
    width: 100%;
  }
}
@media (max-width:375px){
  .banner-bottom-grid-sub-pos h3 {
    font-size: 1.8em;
  }
}
@media (max-width:320px){
  .header-left ul li {
    font-size: 12px;
    margin-bottom: .5em;
  }
  .header-right nav ul li a span {
    font-size: 14px;
  }
  .header-right nav ul li i {
    font-size: .8em;
  }
  .header-right nav {
    top: -22%;
  }
  .container.banner-drop.nav-open {
    margin-top: 5em;
  }
  .banner {
    background: url(../../images/banner1.png) no-repeat -155px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
  }
  .header-right1 nav {
    top: -24% !important;
  }
  .banner-bottom-grid-left h2, .footer-copy-grid h3, .comments-list h3, .about-grid h3, .team h3, h2.title, .mail h2, .map-grid h3, .recent-comments h3, .leave-comment h3 {
    font-size: 1.3em;
  }
  .banner-bottom-grid1 {
    padding: .5em;
  }
  .banner-bottom-grid1-pos, .banner-bottom-grid-sub-pos {
    padding: .5em;
  }
  .banner-bottom-grid1-pos h3 {
    font-size: 1em;
  }
  .banner-bottom-grid-sub-pos h3 {
    font-size: 1.6em;
  }
  .banner-bottom-grid-sub {
    margin: 3em auto 0;
  }
  .banner-bottom-grid-left1 p {
    font-size: 1.2em;
  }
}
/*-----end-responsive-design-banner------*/
/*-----start-responsive-design-about------*/
@media (max-width:1080px){
  .about, .team, .typo, .mail, .blog {
    padding: 4em 0;
  }
  .about-grid-left1 h2 {
    font-size: 1.3em;
  }
  .column div, figure {
    width: 282px;
    height: 185px;
  }
  .team-grid1-sub h4 {
    font-size: 1.23em;
  }
  .comments-list ul li i {
    margin: 0 0.72em;
  }
  .comments-list:nth-child(2) {
    margin: 4em 0;
    padding: 2em 0 4em;
  }
}
@media (max-width:991px){
  .about-grid:nth-child(2) {
    margin: 3em 0;
  }
  .team-grid {
    width: 60%;
    margin:0 auto;
  }
  .team-grid:nth-child(2) {
    margin:2em auto;
  }
  .column div, figure {
    width: 100%;
    height: 100%;
  }
}
@media (max-width:768px){
  .about, .team, .typo, .mail, .blog {
    padding: 3em 0;
  }
}
@media (max-width:640px){
  .team-grid {
    width: 80%;
  }
  .about-grid-left1 h2 {
    font-size: 1.5em;
  }
  .comments-list ul {
    padding: 0em 0 2em;
  }
  .comments-list ul li {
    margin-bottom: .5em;
  }
}
@media (max-width:480px){
  .about, .team, .typo, .mail, .blog {
    padding: 2em 0;
  }
  .team-grid {
    width: 100%;
  }
  .comments-list ul {
    padding: 0em 0 1em;
  }
  .comments-list p {
    margin: 1em 0 2em;
  }
  .comments-list:nth-child(2) {
    margin: 3em 0;
    padding: 2em 0 3em;
  }
}
@media (max-width: 414px){
  .about-grid {
    padding: 0;
  }
  .about-grid:nth-child(2) {
    margin: 2em 0;
  }
  .team-grids {
    margin: 1.5em 0 0;
  }
}
@media (max-width:375px){
  .about-grid-left1 h2 {
    font-size: 1.2em;
  }
  .about-grid-left1 {
    padding: 1em 1em 2em;
  }
}
@media (max-width:320px){
  .container.banner-drop.nav-open {
    margin-top: 5em;
  }
  .categories ul li {
    margin-bottom: .5em;
  }
  .about-grid-left1 ul li, .about-grid ul li {
    margin-bottom: .5em;
  }
  .about-grid-left1 p {
    padding: 1em 0 0;
    margin: 1em 0 1em;
    font-size: 13px;
  }
  .about-grid p span {
    display: initial;
    margin: 0;
  }
}
/*-----end-responsive-design-about------*/
/*-----start-responsive-design-services------*/
@media (max-width:1680px){
  .services:before, .about-bottom:before {
    height: 195px;
  }
}
@media (max-width:1440px){
  .services:before, .about-bottom:before {
    background: url(../../images/5.jpg) no-repeat -110px 0px;
    display: block;
  }
  .services-bottom-left1 {
    padding-left: 3em;
  }
  .services-bottom-left1 h3 {
    margin: 2em 0 0.5em;
  }
}
@media (max-width:1366px){
  .services:before, .about-bottom:before {
    background: url(../../images/5.jpg) no-repeat -135px 0px;
  }
  .services-bottom-left1 h3 {
    font-size: 1.8em;
  }
}
@media (max-width: 1280px){
  .services:before, .about-bottom:before {
    background: url(../../images/5.jpg) no-repeat -185px 0px;
    height: 140px;
  }
  .services-bottom-left1 h3 {
    margin: 1em 0 0.5em;
  }
}
@media (max-width: 1080px){
  .services:before, .about-bottom:before {
    background: url(../../images/5.jpg) no-repeat -350px 0px;
    height: 100px;
  }
  .services, .about-bottom {
    padding: 7em 0 5em;
  }
  .services-grid1-pos {
    width: 37%;
  }
  .services-grid1-bottom h4 a, .primary-right-grid h4 a {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .services-grid1-bottom ul li i {
    padding-left: 2em;
  }
  .services-grid1-bottom ul li span {
    margin-left: 2em;
  }
  .services-bottom-left1 h3 {
    font-size: 1.2em;
  }
}
@media (max-width:991px){
  .services-grid {
    float: left;
    width: 33.33%;
    padding-left: 0;
  }
  .services, .about-bottom {
    padding: 5em 0 4em;
  }
  .services-grids, .about-bottom-grids {
    margin: 3em 0 0;
  }
  .services h3, .about-bottom h3, .subscribe h3, .mail-left h3, .mail-right h3, h3.title,.banner-bottom-left1 h1, .about-left1 h3 {
    font-size: 2.2em;
  }
  .services h3, .about-bottom h3, .subscribe h3, .mail-left h3, .mail-right h3, h3.title{
    padding-bottom: .5em;
  }
  .services h3:after, .about-bottom h3:after, .subscribe h3:after, h3.title:after, .mail-left h3:after, .mail-right h3:after {
    width: 65%;
  }
  .services-grid1-pos h5 {
    font-size: 1em;
  }
  .services-grid1-bottom {
    padding: 1em 1em 1em;
  }
  .services-grid1-bottom ul li i {
    font-size: .9em;
  }
  .services-bottom-left1 h3 {
    font-size: 2em;
    margin:3em 0 1em;
  }
}
@media (max-width:800px){
  .services:before, .about-bottom:before {
    background: url(../../images/5.jpg) no-repeat -445px 0px;
  }
}
@media (max-width:640px){
  .services:before, .about-bottom:before {
    background: url(../../images/5.jpg) no-repeat -540px 0px;
    height: 55px;
  }
  .services, .about-bottom {
    padding: 4em 0 3em;
  }
  .services-grid {
    float: none;
    width: 60%;
    padding-left: 1em;
    margin: 0 auto 2em;
  }
  .services-grid:nth-child(3) {
    margin: 0 auto;
  }
  .services-bottom-left1 h3 {
    font-size: 1.6em;
    margin: 2em 0 1em;
  }
  .services-grid1-pos h5 {
    font-size: 1.5em;
  }
  .services-grid1-pos {
    width: 33%;
  }
}
@media (max-width:480px){
  .services h3, .about-bottom h3,.about-right h3, .subscribe h3, .mail-left h3, .mail-right h3, h3.title, .banner-bottom-left1 h1, .about-left1 h3 {
    font-size:1.6em;
  }
  .services-grid {
    width: 80%;
  }
  .services-grid1-bottom ul li span {
    margin-left: 4em;
  }
  .services-grid1-bottom ul li i {
    padding-left: 4em;
  }
  .services-grid1-bottom h4 a, .primary-right-grid h4 a {
    font-size: 1.1em;
  }
  .services-bottom-left1 h3 {
    font-size: 1em;
  }
  .services-bottom-left1 p {
    padding-left: 0em;
    line-height: 1.5em;
  }
  .services:before, .about-bottom:before {
    background: url(../../images/5.jpg) no-repeat -600px 0px;
    height: 30px;
  }
}
@media (max-width: 414px){
  .services-grid1-pos h5 {
    font-size: 1.1em;
  }
  .services-grid1-bottom ul li i {
    padding-left: 2em;
  }
  .services-bottom-left1 {
    padding-left: 2em;
  }
  .services:before, .about-bottom:before {
    background: url(../../images/5.jpg) no-repeat -655px 0px;
  }
  .services, .about-bottom {
    padding: 3em 0 2em;
  }
  .services h3, .about-bottom h3, .about-right h3, .subscribe h3, .mail-left h3, .mail-right h3, h3.title, .banner-bottom-left1 h1, .about-left1 h3 {
    line-height: 1.5em;
  }
}
@media (max-width:375px){
  .services-grid {
    width: 100%;
  }
  .services-grids, .about-bottom-grids {
    margin: 2em 0 0;
  }
  .services-grid1-pos {
    width: 29%;
  }
  .services-grid1-bottom ul li i {
    padding-left: 4em;
  }
  .services-bottom-left1 h3 {
    margin: 1em 0 1em;
  }
}
@media (max-width:320px){
  .services-bottom-left1 h3 {
    margin: 1em 0 0.5em;
    font-size: .9em;
  }
  .services-grid1-bottom ul {
    padding: 1em 0 0;
  }
  .services:before, .about-bottom:before {
    background: url(../../images/5.jpg) no-repeat -690px 0px;
  }
  .services, .about-bottom {
    padding: 2em 0 2em;
  }
  .services-grid1-pos {
    width: 34%;
  }
  .services-grid,.about-left,.about-right {
    padding: 0;
  }
  .services h3, .about-bottom h3, .about-right h3, .subscribe h3, .mail-left h3, .mail-right h3, h3.title, .banner-bottom-left1 h1, .about-left1 h3 {
    letter-spacing: 2px;
  }
  .services-grid1-bottom ul li i {
    padding-left: 3em;
  }
  .services-grid1-bottom ul li span {
    margin-left: 3em;
  }
  .services-bottom-left1 {
    padding-left: 1em;
  }
}
/*-----end-responsive-design-services------*/
/*-----start-responsive-design-services-contact------*/
@media(max-width:1080px){
    .contact-right {
        padding-right: 0;
    }
    .contact-form {
        padding: 5em 11em;
    }
}
@media(max-width:1024px){
    .contact-left iframe {
        min-height: 29em;
    }
    .contact-form p {
        margin-bottom: 2em;
    }
    .contact-form input[type="submit"] {
        padding: 0.7em 5em;
        font-size: 1em;
    }
    .contact-form {
        margin-top: 4em;
    }
}
@media(max-width:991px){
    .contact-right {
        margin-top: 2em;
    }
    .contact-form {
        margin-top: 3em;
    }
    .contact-left iframe {
        min-height: 20em;
    }
    .contact-form {
        padding: 3.5em 6em;
    }
    .contact-form input[type="text"] {
        font-size: 0.9em;
        padding: .7em 1em;
    }
    .contact-form p {
        margin-bottom: 1.5em;
    }
}
@media(max-width:640px){
    .contact-left iframe {
        min-height: 17em;
    }
    .contact-form {
        margin-top: 2em;
    }
    .contact-form {
        padding: 2.5em 4em;
    }
    .contact-form p {
        margin-bottom: 1em;
    }
    .contact-form textarea {
        min-height: 10em;
    }
    .welcome.contact h4 {
        margin: 0 0 .3em;
    }
}
@media(max-width:414px){
    .contact-form {
        padding: 2em 2em;
    }
}
@media(max-width:375px){
    .contact-left ,.contact-right{
        padding: 0;
    }
    .contact-right {
        margin-top: 1em;
    }
    .contact-form {
        padding: 2em 1em;
        margin-top: 1.5em;
    }
    .contact-form input[type="submit"] {
        padding: 0.5em 4em;
        font-size: 1em;
    }
}
@media(max-width:320px){
    .contact-left iframe {
        min-height: 11em;
    }
}
/*-----end-responsive-design-services-contact------*/
/*-----start-responsive-design-footer------*/
@media (max-width:1080px){
  .footer-top h3 {
    font-size: 1.7em;
  }
  .footer-top {
    min-height: 365px;
    padding: 4em 0 0;
  }
  .footer-top-image img {
    width: 85%;
  }
}
@media (max-width:991px){
  .footer-top-image {
    right: -6%;
  }
  .footer-copy-grid {
    float: left;
    width: 50%;
  }
  .footer-copy-grid:nth-child(2) {
    margin:0 0 8em;
  }
}
@media (max-width:800px){
  .footer-top-image img {
    width:100%;
  }
  .footer-top-image {
    right: 0;
    width: 40%;
  }
}
@media (max-width:768px){
  .footer-top h3 {
    font-size: 1.5em;
  }
  .footer-top {
    min-height: 340px;
    padding: 3em 0 0;
  }
  .footer-copy-grid:nth-child(2) {
    margin: 0 0 7em;
  }
}
@media (max-width:640px){
  .banner-bottom-grid-left h2,.footer-copy-grid h3,.comments-list h3,.about-grid h3, .team h3, h2.title, .mail h2, .map-grid h3, .recent-comments h3, .leave-comment h3{
    font-size: 1.7em;
  }
  .footer-top-image {
    right: 5%;
  }
  .footer-copy-grid:nth-child(2) {
    margin: 0 0 5em;
  }
}
@media (max-width:480px){
  .footer-top h3 span {
    font-size: 1.8em;
    display: block;
    margin: .2em 0 0;
  }
  .footer-top {
    padding: 2em 0 0;
    min-height: 285px;
  }
  .footer-top p {
    margin: 1em 0 2em;
  }
  .footer-top-image {
    bottom: -50%;
  }
  .footer-copy-grid {
    float: none;
    width: 100%;
  }
  .footer-copy-grid:nth-child(2) {
    margin: 2em 0;
  }
  .footer-copy-grid:nth-child(3) {
    margin:0em 0 2em;
  }
}
@media (max-width: 414px){
  .banner-bottom-grid-left h2, .footer-copy-grid h3, .comments-list h3, .about-grid h3, .team h3, h2.title, .mail h2, .map-grid h3, .recent-comments h3, .leave-comment h3 {
    font-size: 1.5em;
  }
  .footer-top-image {
    bottom: -30%;
  }
  .footer-top h3 {
    font-size: 1.2em;
  }
  .footer-top {
    min-height: 230px;
  }
}
@media (max-width:375px){
  .footer-top p {
    font-size: 13px;
  }
  .footer-copy-grid {
    padding: 0;
  }
}
@media (max-width:320px){
  .footer {
    padding: 1em 0;
  }
  .footer-copy-grid input[type="submit"] {
    width: 100%;
  }
  .footer-copy {
    padding: 2em 0 1em;
  }
  .footer-copy-grid1 {
    padding: 0 .2em .4em;
  }
  .banner-bottom-grid-left h2, .footer-copy-grid h3, .comments-list h3, .about-grid h3, .team h3, h2.title, .mail h2, .map-grid h3, .recent-comments h3, .leave-comment h3 {
    font-size: 1.3em;
  }
  .footer-top h3 {
    font-size: 1em;
  }
  .footer-top {
    min-height: 265px;
  }
  .footer-top-image {
    bottom: -44%;
  }
}
/*-----end-responsive-design-footer------*/