h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}

html, body{
  	font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
  	overflow-x: hidden;
	background: #fff;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.main-content {
    position: relative;
}
/*-------HEADER SECTION------*/
/* ----STICKY HEADER----*/
.sticky-header{
    position: fixed;
    top: 0;
    left:0px;
    width: 100%;
    z-index: 100;
}
.header-section {
    background:#FFF;
    box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
    -o-box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
}
.header-section::after {
    clear: both;
    display: block;
    content: '';
}
.header-left {
    float: left;
    width: 45%;
}
.header-right {
    float: right;
}
/* ----menu-icon----*/
button#showLeftPush {
    font-size: 1.5em;
    width: 80px;
    padding: 0.87em 0;
    text-align: center;
    cursor: pointer;
    float: left;
    color: #6F6F6F;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
	border: none;
    background-color: #fff;
	outline:none;
}
button#showLeftPush:hover {
    color: #6164C1;
}
/*--push-menu-css--*/
.cbp-spmenu {
	position: fixed;
}
.cbp-spmenu-vertical {
    width: 309px;
    height: 100%;
    top: 76px;
    z-index: 1000;
    background-color:#4F52BA;
	padding: 2em 0;
}
.cbp-spmenu-left {
    left: 0;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: -309px;
}
/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
}
.cbp-spmenu-push-toright {
	left: 0;
}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.cbp-spmenu-push div#page-wrapper {
    margin: 0em 0 0 19.3em;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
}
.cbp-spmenu-push.cbp-spmenu-push-toright div#page-wrapper {
    margin: 0;
}
/*--//push-menu-css--*/
/*---footer---*/
.footer {
    background: #fff;
    padding: 1em;
    width: 100%;
    text-align:center;
	box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-ms-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-o-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
}
.footer  p {
	color: #7A7676;
    font-size: 1em;
	line-height: 1.6em;
}
.footer  p a{
	color:#E94E02;
}
.footer  p a:hover{
	text-decoration:underline;
}
/*---//footer---*/

/*---main-content-start---*/
.widget-shadow {
    background-color: #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	-moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
/*---//main-content-end---*/
/*--table--*/
.tables h4 {
    font-size: 1.4em;
    margin-bottom: 1em;
    color: #777777;
}
.tables .panel-body ,.tables .bs-example{
    padding: 2em 2em 0.5em;
}
.tables .table > thead > tr > th, .tables .table > tbody > tr > th, .tables .table > tfoot > tr > th, .tables .table > thead > tr > td, .tables .table > tbody > tr > td, .tables .table > tfoot > tr > td {
    padding: 13px;
	border-top: 1px solid #E0E0E0;
}
.bs-example {
    margin-top: 2em;
}
.table-hover > tbody > tr:hover {
    background-color: #E8E6E6;
}
/*--//table--*/
/*---- start-responsive-design-cbp -----*/
@media(max-width:1080px){
  .cbp-spmenu-vertical {
      width: 278px;
  }
  .cbp-spmenu-push div#page-wrapper {
      margin:0 0 0 17.4em;
	 padding: 6.5em 1.5em 2em;
  }
}
@media(max-width:900px){
  .cbp-spmenu-vertical {
      padding: 1.5em 0;
	 width: 231px;
  }
  .cbp-spmenu-push div#page-wrapper {
      margin: 0 0 0 14.5em;
  }
}
@media(max-width:768px){
  .cbp-spmenu-vertical {
      padding: 1em 0;
      width: 201px;
      top: 69px;
  }
  .cbp-spmenu-push div#page-wrapper {
      margin: 0;
  }
  .cbp-spmenu-left.cbp-spmenu-open {
  	left:0
  }
  .cbp-spmenu-vertical {
	  left: -309px;
  }
}
@media(max-width:640px){
  .cbp-spmenu-push div#page-wrapper {
      padding: 10.5em 1em 2em;
  }
}
@media(max-width:480px){
  .cbp-spmenu-vertical {
      top: 67px;
  }
  .cbp-spmenu-vertical {
      padding: 0.5em 0;
      width: 161px;
      top: 52px;
  }
  .cbp-spmenu-push div#page-wrapper {
      padding: 8.2em 1em 1.5em;
  }
}
/*---- end-responsive-design-cbp -----*/